.typingIndicator {
  position: absolute;
  z-index: 1;
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  height: 1rem;
  margin-bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
}

.typingIndicator span {
  display: block;
  width: 1rem;
  height: 1rem;
  background: #5858e6;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out;
}

.typingIndicator span:nth-child(1) {
  animation-delay: 0s;
}
.typingIndicator span:nth-child(2) {
  animation-delay: 0.2s;
}
.typingIndicator span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
